@charset "UTF-8";
.navegacion {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  background-image: url(../imagenes/header.png);
  background-size: contain; }
  .navegacion a {
    color: #55084f; }
  .navegacion > * {
    transform: rotate(-20deg);
    transition: 2s; }
    .navegacion > *:hover {
      color: #805300;
      transform: scale(1.2); }

.animaciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border: none; }

.coin {
  animation-name: coin;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate; }
  .coin img {
    width: 40px;
    height: 40px; }

@keyframes coin {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Rowdies", cursive;
  background-image: linear-gradient(to left, red, yellow); }

/*Index*/
.mainA {
  margin: 10px; }

.article {
  color: white;
  text-align: left;
  background-image: url(../imagenes/NoticiasVideojuegos.jpg); }
  .article h2 {
    color: green; }

.left {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  background-image: url(../imagenes/lanzRecientes.jpg); }
  .left h2 {
    color: green; }

.right {
  background-image: url(../imagenes/reseñas.jpg);
  background-size: contain; }

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; }
  .center h3 {
    color: green; }

.footer {
  background-color: #025c02; }

.vaultBoy {
  display: flex;
  background-image: url(../imagenes/vault-boy.jpg);
  background-size: contain;
  justify-content: center;
  align-items: center;
  text-align: center; }

/*-------------------------------------------------------Galeria---------------------------------------*/
.tituloG {
  display: flex;
  justify-content: center;
  color: green; }

.main {
  display: flex;
  justify-content: center; }

.carouselGaleria {
  margin-bottom: 10px;
  display: flex;
  justify-content: center; }

.carousel {
  width: 300px;
  height: 400px;
  background-color: black; }
  .carousel .carousel-item {
    max-width: 300px;
    max-height: 400px; }

/*-----------------------------------------Contactanos---------------------------------------*/
.form {
  border: solid green; }
  .form h2 {
    color: green; }

/*-----------------------------------------Comunidad-------------------------------------*/
.comunidadMain {
  background-image: linear-gradient(to left, white, yellow);
  border: 1px solid black; }

.instagram {
  margin-top: 10px;
  background-image: url(../imagenes/instagram.jpg);
  background-size: cover;
  width: 250px;
  height: 250px; }

.facebook {
  margin-top: 10px;
  background-image: url(../imagenes/facebook.png);
  background-size: cover;
  width: 250px;
  height: 250px; }

.twitter {
  margin-top: 10px;
  background-image: url(../imagenes/twitterlogo.png);
  background-size: cover;
  width: 300px;
  height: 250px; }

.tituloComunidad {
  display: flex;
  justify-content: center;
  color: green; }

.redes {
  display: flex;
  justify-content: center; }

/*----------------------------------------- Info -----------------------------------------*/
.mainInfo {
  border: 2px solid blue; }
  .mainInfo h2 {
    color: green; }
  .mainInfo h3 {
    color: green; }

.objetivosInfo {
  border: 1px solid black; }

.logrosInfo {
  border: 1px solid black; }
